<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>HOME</title>
	<link rel="stylesheet" href="Recursos/css/estilo.css">
</head>
<body lang="es-CO" dir="ltr">
	<header>		
	<div id="logo"></div>
	<!-- menu principal -->
	<div id="menu">
		<ol>
		<li><a href="/">INICIO</a></li>
		<li><a href="GESTION">GESTIÓN DE INFORMACIÓN</a></li>
		<li><a href="#">CONTACTO</a></li>
		<li><a href="SERVICIOS">SERVICIOS</a></li>
		</ol>
	</div>
	<!-- menu de login y singin -->
	<div id="log">
		<%if(!login){%>
			<ul>
				<li><a href="LOGIN">INICIAR SESIÓN</a></li>
				<li><a href="SINGIN">USUARIO NUEVO</a></li>
			</ul>
			<%}else{%>
			<ul>
				<li><a><%=usuario%> <%=rol%></a></li>
				<li><a href="logout">CERRAR SESIÓN</a></li>
			</ul>
			<%}%>
	</div>
	</header>
<!-- contenido de la pagina -->
<div id="contenido">
	<img src="Recursos/imagen/tecnico.png" alt="TECNICO">
	<div>
	<h2>
	Contactenos
	</h2>
	<!-- Formulario de contacto -->
	<form action="CONTACTO.html" method="post" id="contacto">
		<table>
			<tr>
				<td><label for="nombre">Nombre</label></td>
				<td><input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required></td>
			</tr>
			<tr>
				<td><label for="email">Correo</label></td>
				<td><input type="email" name="email" id="email" placeholder="Ingrese su correo" required></td>
			</tr>
			<tr>
				<td><label for="telefono">Telefono</label></td>
				<td><input type="text" name="telefono" id="telefono" placeholder="Ingrese su telefono" required></td>
			</tr>
			<tr>
				<td><label for="asunto">Asunto</label></td>
				<td><input type="text" name="asunto" id="asunto"></td>
			</tr>
			<tr>
				<td><label for="mensaje">Mensaje</label></td>
				<td><textarea name="mensaje" id="mensaje" rows="10" placeholder="Ingrese su mensaje" required></textarea></td>
			</tr>
			<tr></tr>
				<th colspan="2"><button type="submit">Enviar</button></th>
			</tr>
		</table>
	</form>
	</div>
</div>
<!-- footer -->
<footer>
	<ol>
		<li><a href="HOME">Sobre Nosotros</a></li>
		<li><a href="CONTACTO">Contacto</a></li>
		<li><a href="#">Políticas</a></li>
		<li><a href="#">Protección de datos</a></li>
		<li><a href="CONTACTO">Soporte</a></li>
	</ol>
<p>Desarrollado por Jesssid - 2024</p>
</footer>
<script type="text/javascript" src="code.js" ></script>
</body>
</html>
