<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>HOME</title>
	<link rel="stylesheet" href="Recursos/css/estilo.css">
</head>
<body lang="es-CO" dir="ltr">
<script>
</script>
<header>
<div id="logo"></div>
<!-- menu principal -->
<div id="menu">
<ol>
<li><a href="/">INICIO</a></li>
<li><a href="GESTION">GESTIÓN DE INFORMACIÓN</a></li>
<li><a href="CONTACTO">CONTACTO</a></li>
<li><a href="SERVICIOS">SERVICIOS</a></li>
</ol>
</div>
<!-- menu de login y singin -->
<div id="log">
	<ul>
		<li><a href="#">INICIAR SESIÓN</a></li>
		<li><a href="SINGIN">USUARIO NUEVO</a></li>
	</ul>
</div>
</header>
<!-- contenido de la pagina -->
<div id="contenido">
<img src="Recursos/imagen/login.jpeg" alt="inicio">
	<div>
	<!-- Formulario de inicio de sesion -->
	<form action="ingreso" method="post" id="login">

		<table>
			<caption>Inicio de sesión</caption>
			<tr>
				<td><label for="user">Usuario</label></td>
				<td><input type="text" name="user" id="user"></td>
			</tr>
			<tr>
				<td><label for="pass">Contraseña</label></td>
				<td><input type="password" name="pass" id="pass"></td>
			</tr>
			<tr>
				<th colspan="2"><button type="submit">Ingresar</button></th>
			</tr>
			<tr>
				<th colspan="2"><a href="http://" target="_blank" rel="noopener noreferrer">Recordar contraseña</a></th>
			</tr>
		</table>
	</form>
	</div>
</div>
<!-- footer -->
<footer>
<ol>
	<li><a href="HOME">Sobre Nosotros</a></li>
	<li><a href="CONTACTO">Contacto</a></li>
	<li><a href="#">Políticas</a></li>
	<li><a href="#">Protección de datos</a></li>
	<li><a href="CONTACTO">Soporte</a></li>
</ol>

<p>Desarrolado por Jesssid - 2024</p>
</footer>
<script type="text/javascript" src="code.js" >
</script>
</body>
</html>
