<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>HOME</title>
    <link rel="stylesheet" href="Recursos/css/estilo.css">
</head>
<body lang="es-CO" dir="ltr">

<header>
    <div id="logo"></div>
    <!-- menu principal -->
    <div id="menu">
    <ol>
    <li><a href="/">INICIO</a></li>
    <li><a href="GESTION">GESTIÓN DE INFORMACIÓN</a></li>
    <li><a href="CONTACTO">CONTACTO</a></li>
    <li><a href="#">SERVICIOS</a></li>
    </ol>
    </div>
    <!-- menu de login y singin -->
    <div id="log">
        <%if(!login){%>
        <ul>
            <li><a href="LOGIN">INICIAR SESIÓN</a></li>
            <li><a href="SINGIN">USUARIO NUEVO</a></li>
        </ul>
        <%}else{%>
        <ul>
            <li><a><%=usuario%> <%=rol%></a></li>
            <li><a href="logout">CERRAR SESIÓN</a></li>
        </ul>
        <%}%>
    </div>
</header>
<!-- contenido de la pagina -->
<div id="contenido">
<div id="sevicio">
    <%if(login){%>
        <a class="boton2" href="CONTRATOS">Ver Contratos</a>
        <a class="boton2" href="CREARCONTRATO"  id="crear">Crear Contratos</a>
    <%}%>
    <h1 class="servicios" id="instalaciones">Servicio de Instalación</h1>
    <div class="descripcion" id="info-instalaciones">
        <p>Ofrecemos servicios profesionales de instalación para diversos equipos y dispositivos:</p>
        <ul>
            <li>Configuración y puesta en marcha de electrodomésticos como lavadoras, secadoras, refrigeradores, cocinas, hornos, microondas, etc.</li>
            <li>Montaje y configuración de aires acondicionados, calefacción central, calentadores de agua, etc.</li>
            <li>Instalación de redes de datos, Wi-Fi y cableado estructurado.</li>
            <li>Montaje de lámparas, apliques, interruptores y enchufes.</li>
        </ul>
    </div>
    <h1 class="servicios" id="reparaciones">Servicio de Reparación</h1>
    <div class="descripcion" id="info-reparaciones">
        <p>Nuestro equipo de expertos se dedica a la reparación de diversos dispositivos:</p>
        <ul>
            <li>Diagnóstico y solución de problemas en electrodomésticos averiados.</li>
            <li>Sustitución de piezas defectuosas.</li>
            <li>Mantenimiento preventivo para prolongar la vida útil de los aparatos.</li>
            <li>Reparación de tuberías y desagües.</li>
            <li>Reemplazo de interruptores, fusibles y componentes eléctricos.</li>
            <li>Diagnóstico y resolución de fallas en sistemas de calefacción o aire acondicionado.</li>
        </ul>
    </div>
    
</div>
</div>
<!-- footer -->
<footer>
<ol>
	<li><a href="HOME">Sobre Nosotros</a></li>
	<li><a href="CONTACTO">Contacto</a></li>
	<li><a href="#">Políticas</a></li>
	<li><a href="#">Protección de datos</a></li>
	<li><a href="CONTACTO">Soporte</a></li>
</ol>
<p>Desarrollado por Jesssid - 2024</p>
</footer>
<script>
    //Se capturan las etiquetas de instalaciones y reparaciones para cambiar el estilo si le da click para mostrar y ocultar los elementos
    const inst = document.getElementById("instalaciones");
    const infoinst = document.getElementById("info-instalaciones");
    const rep = document.getElementById("reparaciones");
    const inforep = document.getElementById("info-reparaciones");

    //Al seleccionar el titulo de reparaciones muestra la informacion de reparaciones y oculta la de instalaciones
    rep.addEventListener("click", function (event) {
        inforep.style.display = 'block';
        infoinst.style.display = 'none';
    });
    //Al seleccionar el titulo instalaciones  muestra la informacion de instalaciones y oculta la de reparaciones
    inst.addEventListener("click", function (event) {
        infoinst.style.display = 'block';
        inforep.style.display = 'none';
    });
</script>
</body>
</html>
